IOBUF ALLPORTS IO_TYPE=LVCMOS33 ;
# =========================
# CLOCKS  (use real clock-capable pins if possible)
# =========================
LOCATE COMP "CRYSTAL" SITE "M1" ;
IOBUF PORT "CRYSTAL" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=3.3 HYSTERESIS=ON TERMINATION=OFF ;
# =========================
# CAMERA SYNC + DATA (inputs)
# =========================
LOCATE COMP "VSYNC" SITE "B10" ;IOBUF PORT "VSYNC" IO_TYPE=LVCMOS18 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=1.8 HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "HREF" SITE "A11" ;IOBUF PORT "HREF" IO_TYPE=LVCMOS18 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=1.8 HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "Y9" SITE "B11" ;IOBUF PORT "Y9" IO_TYPE=LVCMOS18 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=1.8 HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "Y8" SITE "B12" ;IOBUF PORT "Y8" IO_TYPE=LVCMOS18 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=1.8 HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "Y7" SITE "A13" ;IOBUF PORT "Y7" IO_TYPE=LVCMOS18 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=1.8 HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "Y6" SITE "A14" ;IOBUF PORT "Y6" IO_TYPE=LVCMOS18 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=1.8 HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "Y5" SITE "A15" ;IOBUF PORT "Y5" IO_TYPE=LVCMOS18 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=1.8 HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "Y4" SITE "C13" ;IOBUF PORT "Y4" IO_TYPE=LVCMOS18 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=1.8 HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "Y3" SITE "C12" ;IOBUF PORT "Y3" IO_TYPE=LVCMOS18 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=1.8 HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "Y2" SITE "B14" ;IOBUF PORT "Y2" IO_TYPE=LVCMOS18 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=1.8 HYSTERESIS=NA TERMINATION=OFF ;
# Camera MCLK (output)
LOCATE COMP "MCLK" SITE "A12" ;IOBUF PORT "MCLK" IO_TYPE=LVCMOS18 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=1.8 HYSTERESIS=NA TERMINATION=OFF ;
# SCCB / I2C (camera control)
LOCATE COMP "cam_scl" SITE "A10" ; IO_TYPE PORT "cam_scl" IO_TYPE=LVCMOS18 DRIVE=4 SLEWRATE=SLOW ;
LOCATE COMP "cam_sda" SITE "B9" ; IO_TYPE PORT "cam_sda" IO_TYPE=LVCMOS18 OPENDRAIN=ON ; 
LOCATE COMP "PCLK" SITE "C8" ;IOBUF PORT "PCLK" IO_TYPE=LVCMOS18 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=1.8 HYSTERESIS=NA TERMINATION=OFF ;
# =========================
# SDRAM (ALL EXPLICITLY LVCMOS33)
# =========================
# Data bus (low byte now; add [8]..[15] later if used)
LOCATE COMP "SD_DQ[0]" SITE "L15" ;IOBUF PORT "SD_DQ[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=3.3 HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "SD_DQ[1]" SITE "M16" ;IOBUF PORT "SD_DQ[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=3.3 HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "SD_DQ[2]" SITE "K16" ;IOBUF PORT "SD_DQ[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=3.3 HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "SD_DQ[3]" SITE "M15" ;IOBUF PORT "SD_DQ[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=3.3 HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "SD_DQ[4]" SITE "M14" ;IOBUF PORT "SD_DQ[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=3.3 HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "SD_DQ[5]" SITE "P16" ;IOBUF PORT "SD_DQ[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=3.3 HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "SD_DQ[6]" SITE "R16" ;IOBUF PORT "SD_DQ[6]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=3.3 HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "SD_DQ[7]" SITE "J16" ;IOBUF PORT "SD_DQ[7]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=3.3 HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "SD_DQ[8]" SITE "D16" ;IOBUF PORT "SD_DQ[8]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=3.3 HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "SD_DQ[9]" SITE "E15" ;IOBUF PORT "SD_DQ[9]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=3.3 HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "SD_DQ[10]" SITE "E16" ;IOBUF PORT "SD_DQ[10]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=3.3 HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "SD_DQ[11]" SITE "F15" ;IOBUF PORT "SD_DQ[11]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=3.3 HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "SD_DQ[12]" SITE "F16" ;IOBUF PORT "SD_DQ[12]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=3.3 HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "SD_DQ[13]" SITE "G15" ;IOBUF PORT "SD_DQ[13]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=3.3 HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "SD_DQ[14]" SITE "G16" ;IOBUF PORT "SD_DQ[14]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=3.3 HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "SD_DQ[15]" SITE "H15" ;IOBUF PORT "SD_DQ[15]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=3.3 HYSTERESIS=NA TERMINATION=OFF ;
# Byte masks
LOCATE COMP "SD_DQM[0]" SITE "T15" ;IOBUF PORT "SD_DQM[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=3.3 HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "SD_DQM[1]" SITE "D14" ;IOBUF PORT "SD_DQM[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=3.3 HYSTERESIS=NA TERMINATION=OFF ;
# Control
LOCATE COMP "SD_CLK" SITE "J15" ;IOBUF PORT "SD_CLK" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=3.3 HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "SD_CS_N" SITE "R15" ;IOBUF PORT "SD_CS_N" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=3.3 HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "SD_WE_N" SITE "N13" ;IOBUF PORT "SD_WE_N" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=3.3 HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "SD_RAS_N" SITE "T14" ;IOBUF PORT "SD_RAS_N" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=3.3 HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "SD_CAS_N" SITE "R13" ;IOBUF PORT "SD_CAS_N" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=3.3 HYSTERESIS=NA TERMINATION=OFF ;
# Address (A[12:0])
LOCATE COMP "SD_A[0]" SITE "T6" ;IOBUF PORT "SD_A[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=OFF OPENDRAIN=ON DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "SD_A[1]" SITE "T4" ;IOBUF PORT "SD_A[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=3.3 HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "SD_A[2]" SITE "T3" ;IOBUF PORT "SD_A[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=3.3 HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "SD_A[3]" SITE "T2" ;IOBUF PORT "SD_A[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=3.3 HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "SD_A[4]" SITE "A2" ;IOBUF PORT "SD_A[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=3.3 HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "SD_A[5]" SITE "A3" ;IOBUF PORT "SD_A[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=3.3 HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "SD_A[6]" SITE "A4" ;IOBUF PORT "SD_A[6]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=3.3 HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "SD_A[7]" SITE "A5" ;IOBUF PORT "SD_A[7]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=3.3 HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "SD_A[8]" SITE "A6" ;IOBUF PORT "SD_A[8]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=3.3 HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "SD_A[9]" SITE "A7" ;IOBUF PORT "SD_A[9]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=3.3 HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "SD_A[10]" SITE "T7" ;IOBUF PORT "SD_A[10]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=OFF OPENDRAIN=ON DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "SD_A[11]" SITE "A8" ;IOBUF PORT "SD_A[11]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=3.3 HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "SD_A[12]" SITE "B7" ;IOBUF PORT "SD_A[12]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=3.3 HYSTERESIS=NA TERMINATION=OFF ;
# Bank select
LOCATE COMP "SD_BA[0]" SITE "K12" ;IOBUF PORT "SD_BA[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=3.3 HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "SD_BA[1]" SITE "L12" ;IOBUF PORT "SD_BA[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=3.3 HYSTERESIS=NA TERMINATION=OFF ;
# =========================
# ESP32 <-> FPGA SPI  (move off config-only bank; keep in a 3.3 V bank)
# =========================
LOCATE COMP "DIN" SITE "T8" ;IOBUF PORT "DIN" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=OFF OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "DOUT" SITE "M8" ;IOBUF PORT "DOUT" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=OFF OPENDRAIN=ON DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=2.5 HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "CCLK" SITE "J14" ;IOBUF PORT "CCLK" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=3.3 HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "SSPI_CS_n" SITE "R1" ;IOBUF PORT "SSPI_CS_n" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" BANK_VCCIO=3.3 HYSTERESIS=ON TERMINATION=OFF ;
# ESP32 <-> FPGA PARALLEL (8-bit)
LOCATE COMP "ESP_D[0]" SITE "E2" ;IO_TYPE PORT "ESP_D[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "ESP_D[1]" SITE "E1" ;IO_TYPE PORT "ESP_D[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "ESP_D[2]" SITE "F2" ;IO_TYPE PORT "ESP_D[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "ESP_D[3]" SITE "F3" ;IO_TYPE PORT "ESP_D[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "ESP_D[4]" SITE "G2" ;IO_TYPE PORT "ESP_D[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "ESP_D[5]" SITE "G1" ;IO_TYPE PORT "ESP_D[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "ESP_D[6]" SITE "J1" ;IO_TYPE PORT "ESP_D[6]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "ESP_D[7]" SITE "J2" ;IO_TYPE PORT "ESP_D[7]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
